#app {
    margin: 0;
    padding: 0;
}

#app h1 {
    color: #292F33;
}

#app h2 {
    color: #CCD6DD;
}

#app h3 {
    color: #55ACEE;
}

#app h5 {
    color: #66757F;
}

span.org {
    color: #CCD6DD;
}

#three > canvas {
    width: 100% !important;
    height: 100% !important;
}

#playground {
    margin: 0;
    padding: 0;
}

#app .header {
    text-align: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
}

#links {
    text-align: right;
}

#app #info {
    padding-left: 2em;
}

#title-container {
    position: absolute;
    top: 0em;
    width: 100%;
    padding: 2em;
}

#links svg {
    color: #292F33;
}