#app {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app h1 {
    color: #292F33;
}

#app h2 {
    color: #CCD6DD;
}

#app h3 {
    color: #55ACEE;
    margin-bottom: 1em;
}

#app h4 {
    color: #66757F;
}

#profile h4 {
    color: #292F33;
}

span.org {
    color: #CCD6DD;
}

#three > canvas {
    width: 100% !important;
}

#playground {
    margin: 0;
    padding: 0;
}

#app .header {
    text-align: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
}

#links {
    text-align: right;
}

#title-container {
    position: absolute;
    top: 0em;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}

#profile img {
    width: 100%;
    border-radius: 5px;
}

#links svg {
    color: #292F33;
}

img.project-img {
    max-height: 15em;
    border-radius: 6px;
    margin: 1em;
}

.project-img-container {
    text-align: center;
}

#rocket {
    background-attachment: fixed;
    background-size: 100%;
}

#cumulus {
    background-attachment: fixed;
    background-size: 100%;
}

#silver-screen {
    background-attachment: fixed;
    background-size: 100%;
}

p.project-description {
    margin-bottom: 0em;
}

div.project {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.3s;
    margin: 0px 5px 15px 0px;
    border-radius: 4px;
}

div.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul#training {
    list-style-type: none;
    padding-left: inherit;
}

.content {
    margin-top: 1em;
}
